.btn{
    background-color: crimson;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid white;
}

.btn2{
    border-radius: 20px;
}

li{
    background-color: yellowgreen;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    position: relative;
}
.delete{
    background-color: rgb(194, 103, 103);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}